
/*样式重置*/
*{ margin: 0;padding: 0;}
body{font-family: '微软雅黑';background: #fbfbfb;}
a{ text-decoration: none;}


/*-----*/
#container{ border-collapse: collapse;margin: 200px auto;border: #d0d0d0 1px solid;background: #fff;}
#container th{ background: #e2e2e2;border-bottom: #d0d0d0 1px solid;}
#container h2{ border-top: #f5f5f5 1px solid;font-size: 18px;padding:5px 0;color: #666;}

#container td a{display: block;font-size: 14px;color: #fff;padding-left: 2px;}
#container a.green{ background:#5BB52E; }#container a.green:hover{ background: #469523}
#container a.blue{ background:#25A9D9; }#container a.blue:hover{ background: #1B9AC8}
#container a.red{ background:#DE5B4C; }#container a.red:hover{ background: #C83F2E}

#container td{ padding: 5px;}
#container tr.btns td{ padding-bottom: 0}
#container td input{ display: block;height: 16px;padding: 2px;border:#ddd 1px solid;}